<div class="detalle">
        <table>
            <tr>
                <td class="enlaces"> 
                    <a> Moto 1 </a><br><br>
                    <a> Moto 2 </a><br><br>
                    <a> Moto 3 </a><br><br>
                    <a> Moto 4 </a><br><br>
                    <a> Moto 5 </a><br><br>
                    <a> Moto 6 </a>
                </td>
                <td>
                    <textarea class="textArea">Aqui descripcion al seleccionar boton </textarea>
                </td>
            </tr>
        </table>
    </div>
