.detalle {
    background-color: #A9D0F5;
    padding: 30px;
    text-align: center;
    text-align-last: center;
    background-origin: padding-box;
    color: #0000FF;
    font-weight: bold;
    width: auto;
    height: auto;
}