<div class="textIni">
    <div *ngIf="botonCar==false && botonMot == false"  class="enlacesMenu">
            <BR><BR>
        SELECCIONE QUE VEHICULOS QUIERE MOSTRAR <BR><BR><BR><BR><BR>
        <a (click)="cambiarEstadoCar()"> COCHES </a>
        <a (click)="cambiarEstadoMot()"> MOTOS </a><BR><BR><BR><BR>
    </div>
    <div class="titPantalla" *ngIf="botonCar!=false || botonMot != false">
            {{tipoVehiculo}} DISPONIBLES
    </div>

    <table>
        <tr><td>
            <div  *ngIf="botonCar==!false || botonMot==!false">
                <app-list-vehiculo [tipo]="tipoVehiculo" [vehiculos]="listVehiculos" [detVehiculo]="detVehiculo" (verDet)="verDet($event)"></app-list-vehiculo>
            </div>
        </td><td>
            <div  *ngIf="detVehiculo==!false">
                <app-detalle-vehiculo [vehiculo]="vehiculoDetalle"></app-detalle-vehiculo>
            </div>
        </td></tr>
    </table>
    <div  *ngIf="botonMot==true || botonCar==true">
        <br><br><br>
        <hr *ngIf="detVehiculo && VehiculoDet===vehiculo" >
        <p class="botonVolver" *ngIf="detVehiculo && VehiculoDet===vehiculo" (click)="cambiarEstadoIni()"> Volver </p>   
    </div>
</div>