.enlacesVehiculo a {
    font-family: verdana, arial, sans-serif;
    font-weight: bold;
    padding: 4px;
    background-color: #81BEF7;
    color: #0000FF;
    text-decoration: none;
    text-align: center;
    text-align-last: center;
}

.enlacesVehiculo a:hover{
    color:#81BEF7;
    background-color: #0000FF;
    font-weight: bold;
    text-decoration: underline;
    border-bottom: 1px solid #cccccc;
    border-top: 2px solid #666666;
    border-right: 1px solid #cccccc;
    border-left: 2px solid #666666;
    text-align: center;
    text-align-last: center;
}
.textIni {
    font-size: 5mm ;
    color: #0000FF;
    font-family: "Latin Modern Roman 10";
    font-style: oblique;
    font-weight: inherit;
    display: inline-block;
}