.enlacesVehiculo{
    font-family: "Latin Modern Roman 10";
    font-weight: bold;
    padding: 4px;
    background-color: #CEE3F6;
    color: #08088A;
    text-decoration: none;
    text-align: center;
    text-align-last: center;
    border-bottom: 1px solid #666666;
    border-top: 2px solid #cccccc;
    border-right: 1px solid #666666;
    border-left: 2px solid #cccccc;
}

.enlacesVehiculo:hover{
    color:#CEE3F6;
    background-color: #08088A;
    font-weight: bold;
    border-bottom: 1px solid #cccccc;
    border-top: 2px solid #666666;
    border-right: 1px solid #cccccc;
    border-left: 2px solid #666666;
    text-align: center;
    text-align-last: center;
}
.vehiculoDet {
    color:#CEE3F6;
    font-family: "Latin Modern Roman 10";
    background-color: #08088A;
    font-weight: bold;
    text-align: center;
    text-align-last: center;
    border-bottom: 1px solid #cccccc;
    border-top: 2px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 2px solid #cccccc;
}