<div class="detalle">
        <table>
            <tr>
                <td> 
                    <div *ngFor="let coche of coches; index as i " class="enlaces"> 
                            <table>
                                <tr >
                                    <td ><a> {{coche.marca}} - {{coche.modelo}}</a></td>
                                </tr>
                                <tr><td></td></tr><tr><td></td></tr>
                            </table>            
                    </div>           
                </td>
                <td>
                    <textarea class="textArea">Aqui descripcion al seleccionar boton </textarea>
                </td>
            </tr>
        </table>
           
    </div>
